<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= render 'shared/form', submit_text: 'Change' %>
    <div class='gravatar_edit'>
      <%= gravatar_for @user %>
      <a href='http://gravatar.com/emails' target='_blank'>Change</a>
    </div>
  </div>
</div>
